<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
    crossorigin="anonymous">
    <title>Crudder</title>
</head>
<body style="padding: 3em;">
   
    
  <div class="jumbotron" style="background-color:lightgrey;">
    <div class="container" style="height: 15em;">

        
        <h1 class="text-secondary"style="text-align:center;">Hello Guys!</h1><br>

        <p class="text-light" style="font-size: 23px;">
            This is the most basic example of a CRUD Application using Node and Express. <br>
            We also used Mongoose as our mongoDB Database ODM and EJS as our template engine<br>
             Here we have a list of users where we can add new users, update, or delete them.<br> <br>
        </p>
        
    </div>
  </div>
  <br>
  <div style="text-align: center;">
  <a href="/users/add" class="btn-outline-primary btn btn-lg"> Add a User</a>
  <a href="/users/list" class="btn-outline-warning btn btn-lg"> Users List</a>
  </div>

    
</body>
</html>